main img {
    height: 10%;
    width: 10%;
}

h1 {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
}

ul {
    margin: .5rem;
}

.validade {
    padding-left: 1rem;
    list-style-type: none;
    margin-bottom: .7rem;
}

/* Estilo do pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.conteudo-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup:target {
    display: flex;
    flex-direction: column;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

.popup ul {
    list-style-type: none;
}

.popup li {
    margin: 1rem;
}

a#confirmar {
    text-decoration: none;
    padding: .3rem 1rem .3rem 1rem;
    color: black;
    border: 1px solid black;
}