html, body {
    height: 100%;
    width: 100%;
}



main {
    overflow: scroll;
    height: 82%;
    position: relative;
}

header {
    height: 4rem;
    background-color: #ff3131;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;

}

header form {
    display: flex;
    align-items: center;
    /*Colocar border-radius na barra de pesquisa*/
}

h1 {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background-color: white;
    border-top: 1px solid black;
    padding-bottom: .5rem;
}

article {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h2 {
    padding: .3rem;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    height: 3rem;
    width: 10.3rem;
    font-size: x-large;
    border-radius: 10px;
}

button:active {
    border-top-color: black;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: black;
    border-radius: 10px;
}

button:active span {
    position: relative;
    top: 1px;
    left: 1px;
}

form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

div h4 {
    font-weight: bold;
}

div ul {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 2rem;
}

div ol {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 2rem;
}

a img {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
}

.botao {
    height: 3rem;
    width: 3rem;
}

.logo {
    height: 4rem;
}

img.receita {
    height: 60%;
    width: 90%;
}

.Adicionar {
    position: fixed;
    right: 0;
    bottom: 5rem;
}

.Adicionar img {
    background-color: transparent;
    height: 3rem;
    width: 3rem;
}